version: "3.8"

services:
    app:
        build:
            context: ..
            dockerfile: docker/Dockerfile.node
        container_name: boiler_app
        ports:
            - "3000:3000"
        env_file:
            - ../.env
        volumes:
            - ../src:/app/src
        restart: unless-stopped
